h1 {
	color: white;
	text-align: center;
	font-size: 70px;
	background-color: black;
	}

body{
	background-color: black;
}

div{
	color: white;
	text-align: center;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 50px;
 	margin: 20px;
}

.sub1b {
  border: none;
  background-color: black
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a:link, a:visited {

  background-color: white;
  color: black;
  padding: 5px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
}
.floathome{
	float: right;
}

a:hover, a:active {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  border-width:2px;
  border-radius: 2px;
}

.centerobj{
	text-align: center;
}

input {
  border: 2px solid white;
  border-radius: 5px;

}

.spaceobj{
	padding-left: 200px;
}
h4{
	text-align: right;
	color:white;
}

