h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	background-color: black;
	}

body{
	background-color: black;
}

div{
	color: white;
	text-align: center;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 50px;
 	margin: 20px;
}

div label{
	position: absolute;
  left: 400px;
  
}
#sub1:hover{

}

